<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/public/attendance.css">


<body>
    <h1 class="h1">yashvi soladhra</h1>
    <select name="select" id="select" class="select1" style="margin: 20px;">
        
        <option data-month="<%=month%>" value="2023-12-30">December-2023</option>
        <option data-month="<%=month%>" value="2024-01-31">Jan-2024</option>
        <option data-month="<%=month%>" value="2024-02-28">Fab-2024</option>

    </select>
    <table>


        <tr class="p1">
            <td>studentid</td>
            <td>studentname</td>
            <td>attendence</td>
            <td>percentage of attendance</td>

        </tr>

        <tr>
            <% result.forEach(item=>
                {%>
        <tr class="p2">
            <td>
                <%= item.studentid %>
            </td>
            <td>
                <%=item.student_name%>
            </td>
            <td>
                <%= item.attendensh%>
            </td>
            <td>
                <%= item.percentage%>

            </td>
         </tr>
        <% }); %>
            </tr>



    </table>
    <div class="box">

        <div>
            <button class=<%=page==1? "disable" :"" %> >
                <a href="/attendance/page/?page=<%=1%>&select=<%=select%>">
                    << </a>
            </button>
        </div>
        <div>
            <button class=<%=page-1<1 ? "disable" :"" %>>
                <a href="/attendance/page/?page=<%=page-1%>&select=<%=select%>">
                    < </a>
            </button>
        </div>
        <div>
            <p>
                <%= page %>
            </p>
        </div>
        <div>
            <button class=<%=page+1>lastpage ? "disable":"" %> >
                <a href="/attendance/page/?page=<%=page+1%>&select=<%=select%>">
                    > </a>
            </button>
        </div>
        <div>
            <button class=<%=page==lastpage ? "disable" :"" %> >
                <a href="/attendance/page/?page=<%=lastpage%>&select=<%=select%>"> >> </a>
            </button>
        </div>
</body>
</html>
<script>
    let select = document.getElementById("select");
    let selects = select.options;
    select.addEventListener("change", function () {
        window.location.href = window.location.origin + window.location.pathname + `?page=1&select=${select.value}`
    })

    console.log(selects);
    for (let i = 0; i < selects.length; i++) {
        if (Number(selects[i].value.split("-")[1]) == (selects[i].dataset.month)) {
            console.log(selects[i].dataset.month);
            selects[i].selected = true;
        }

    }
</script>

</html>