<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/public/dynamic.css">
</head>

<body>



    <table>
        <thead>
         
            <% for(let i=0; i<key.length; i++){%> 
                <td style="background-color:antiquewhite;"><%=key[i]%></td>

          <% } %>
        
        </thead>
        <tbody>
            
        
            <% for(let i=0;i<result.length; i++){%>
                <tr><% for(let j=0;j< key.length;j++)
                    {%>
                    <td>
                        <%=result[i][key[j]]%>
                    </td>

                   <% }%>
                    </tr>
            <%}%>



        </tbody>
    </table> 

    
    
    
    
    <div class="box">

        <div>
            <button class=<%=page==1? "disable" :"" %> >
                <a href="/page/?page=<%=1%>">
                    << </a>
            </button>
        </div>
        <div>
            <button class=<%=page-1<1 ? "disable" :"" %>>
                <a href="/page/?page=<%=page-1%>">
                    < </a>
            </button>
        </div>
        <div>
            <p><%= page %></p>
        </div>
        <div>
            <button class=<%=page+1>lastpage ? "disable":"" %> >
                <a href="/page/?page=<%=page+1%>">
                     > </a>
            </button>
        </div>
        <div>
            <button class=<%=page==lastpage ? "disable" :"" %>>
                <a href="/page/?page=<%=lastpage%>"> >> </a>
            </button>
        </div>
    
    
    
    
    </div>
    
</body>
</html>